{{template "base" .}}

  {{ define "content" }}

    {{$newCloudCredential := index .Data "create-credentials"}}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Create AWS Cloud Credential</h4>
                  <p class="card-description"> Define your AWS Cloud Credential details.</p>
                  <form method="post" action="create-credentials" class="forms-sample" novalidate>
                      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                      <div class="form-group">
                        <label>Cloud Credential Name</label>
                        {{with .Form.Errors.Get "cloud_credential_name"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input name="cloud_credential_name" type="text" class="form-control" id="cloud_credential_name" placeholder="aws-s3-creds" value="{{$newCloudCredential.CloudCredentialName}}" aria-label="cloud_credential_name">
                      </div>
                      <div class="form-group">
                        <label>Cloud Credential Access Key</label>
                        {{with .Form.Errors.Get "cloud_credential_access_key"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input name="cloud_credential_access_key" type="text" class="form-control" id="cloud_credential_access_key" placeholder="AKIAVK..." value="{{$newCloudCredential.CloudCredentialAccessKey}}" aria-label="cloud_credential_access_key">
                      </div>
                      <div class="form-group">
                        <label>Cloud Credential Secret Key</label>
                        {{with .Form.Errors.Get "cloud_credential_secret_key"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input name="cloud_credential_secret_key" type="password" class="form-control" id="cloud_credential_secret_key"  value="{{$newCloudCredential.CloudCredentialSecretKey}}" aria-label="cloud_credential_secret_key">
                      </div>
                      <div class="form-group">
                        <label>Cloud Credential Bucket Name</label>
                        {{with .Form.Errors.Get "cloud_credential_bucket_name"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input name="cloud_credential_bucket_name" type="text" class="form-control" id="cloud_credential_bucket_name" placeholder="portworx-bucket" value="{{$newCloudCredential.CloudCredentialBucketName}}" aria-label="cloud_credential_bucket_name">
                      </div>
                      <div class="form-group">
                        <label>Cloud Credential Region</label>
                        {{with .Form.Errors.Get "cloud_credential_region"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input name="cloud_credential_region" type="text" class="form-control" id="cloud_credential_region" placeholder="us-east-1" value="{{$newCloudCredential.CloudCredentialRegion}}" aria-label="cloud_credential_region">
                      </div>
                      <div class="form-group">
                        <label>Cloud Credential Endpoint</label>
                        {{with .Form.Errors.Get "cloud_credential_endpoint"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input name="cloud_credential_endpoint" type="text" class="form-control" id="cloud_credential_endpoint" placeholder="s3.amazonaws.com" value="{{$newCloudCredential.CloudCredentialEndpoint}}" aria-label="cloud_credential_endpoint">
                      </div>
                      <div class="form-group">
                        <label for="cloud_credential_disable_ssl">Cloud Credential Disable SSL</label>
                        {{with .Form.Errors.Get "cloud_credential_disable_ssl"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <select name="cloud_credential_disable_ssl" class="form-control" type="checkbox" id="cloud_credential_disable_ssl" value="{{$newCloudCredential.CloudCredentialDisableSSL}}" checked>
                          <option>false</option>
                          <option>true</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="cloud_credential_iam_policy_enabled">IAM Policy Enabled for this credential</label>
                        {{with .Form.Errors.Get "cloud_credential_iam_policy_enabled"}}
                          <label class="text-danger">{{.}}</label>
                        {{end}}
                        <select name="cloud_credential_iam_policy_enabled" class="form-control" type="checkbox" id="cloud_credential_iam_policy_enabled" value="{{$newCloudCredential.CloudCredentialIAMPolicyEnabled}}" checked>
                          <option>false</option>
                          <option>true</option>
                        </select>
                      </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div>

  {{ end }}

  {{ define "js" }}

  {{ end }}