{{template "base" .}}

  {{ define "css"}}

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

  {{ end }}

  {{define "content"}}

    {{ $clusterInfo := .JsonClusterInfo }}
    {{ $clusterCapacity := .JsonClusterCapacity }}
    {{ $clusteralarms := .JsonClusterAlarms.AlarmList }}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <p class="card-title">{{ $clusterInfo.ClusterName }}</p>
                  <div class="row">
                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Cluster Name:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{ $clusterInfo.ClusterName }}</h6>
                      </div>
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Cluster UUID:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{ $clusterInfo.ClusterUUID }}</h6>
                      </div>
                      <div>
                        <p class="text-muted mb-2 mb-xl-0">This is the current information of your Portworx cluster.</p>
                      </div>
                    </div>
                    <div class="col-md-12 col-xl-9">
                      <div class="row">
                        <div class="col-md-6 mt-3 col-xl-5">
                          <canvas id="node-chart"></canvas>
                          <div id="node-legend"></div>
                        </div>
                        <div class="col-md-6 col-xl-7">
                          <div class="table-responsive mb-3 mb-md-0">
                            <table class="table table-borderless report-table">
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Cluster Status:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0" id="check-cluster-status" title="{{ $clusterInfo.ClusterStatus }}">
                                  </h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Cluster Total Capacity:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">{{divide $clusterCapacity.ClusterCapacity 1024}} GB</h5>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Alarms and Messages of this cluster</h4>
                  <div class="table-responsive pt-3">
                    <table class="table table-striped" id="alerts">
                      <thead>
                        <tr>
                          <th>
                            Alert Type
                          </th>
                          <th>
                            Message
                          </th>
                          <th>
                            Severity Type
                          </th>
                          <th>
                            Timestamp
                          </th>
                          <th>
                            First Seen
                          </th>
                          <th>
                            Resource ID
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $alarm := $clusteralarms }}
                          <tr>
                            <td>
                              {{ $alarm.AlertType }}
                            </td>
                            <td>
                              {{ $alarm.Message }}
                            </td>
                            <td>
                              {{ $alarm.Severity }}
                            </td>
                            <td>
                              {{ dateFromUnix $alarm.Timestamp.Seconds }}
                            </td>
                            <td>
                              {{ dateFromUnix $alarm.FirstSeen.Seconds }}
                            </td>
                            <td>
                              {{ $alarm.ResourceId }}
                            </td>
                          </tr>
                        {{ end }}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  {{ end }}

  {{ define "js" }}

    <script>
      var usagePercent = "{{.JsonClusterCapacity.ClusterPercentUsed}}";
      var availablePercent = "{{.JsonClusterCapacity.ClusterPercentAvailable}}";
      var usage = "{{.JsonClusterCapacity.ClusterUsed}}";
      var available = "{{.JsonClusterCapacity.ClusterAvailable}}";
      var total = "{{.JsonClusterCapacity.ClusterCapacity}}";
    </script>

    <script src="/portworx/client/static/js/dashboard.js"> </script>

    <script >

      var element = document.getElementById("check-cluster-status");

        if(element.title == "STATUS_OK") {

          let btn = document.createElement("button");
          btn.innerHTML = "Cluster Up";
          btn.type = "button";
          btn.name = "formBtn";
          btn.classList = "btn btn-inverse-success btn-fw";
          element.appendChild(btn);

          console.log("Cluster Up");

        } else if (element.value == "STATUS_STORAGE_DOWN" || element.value == "STATUS_ERROR" || element.value == "STATUS_DECOMMISSION" || element.value == "STATUS_OFFLINE"  || element.value == "STATUS_NONE") {
          
          let btn = document.createElement("button");
          btn.innerHTML = "Cluster Down";
          btn.type = "button";
          btn.name = "formBtn";
          btn.classList = "btn btn-inverse-danger btn-fw";
          element.appendChild(btn);

          console.log("Cluster Down");

        } else {

          let btn = document.createElement("button");
          btn.innerHTML = "Cluster Warning";
          btn.type = "button";
          btn.name = "formBtn";
          btn.classList = "btn btn-inverse-warning btn-fw";
          element.appendChild(btn);

          console.log("Cluster Warning");

      }

    </script>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

    <script>
  
      $(document).ready(function() {
        $('#alerts').DataTable( {
            responsive: true,
            "pageLength": 10,
        } );
    } );
   </script>

 {{end}}