<!DOCTYPE html>
<html lang="en">
{{block "css" . }}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Portworx</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/frontend/static/templates/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/frontend/static/templates/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/frontend/static/templates/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/frontend/static/templates/images/favicon.png" />

</head>
{{end}}

{{block "body" . }}
{{ $node := .JsonNodeInfo.NodeInfo }}
<body>


  <div class="container-scroller">
    <div class="row p-0 m-0 proBanner" id="proBanner">
      <div class="col-md-12 p-0 m-0">
        <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
          <div class="ps-lg-1">
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <a href="https://www.bootstrapdash.com/product/royalui/"><i class="ti-home me-3 text-white"></i></a>
            <button id="bannerClose" class="btn border-0 p-0">
              <i class="ti-close text-white me-0"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo me-6" href="index.html"><img src="/frontend/static/templates/images/portworx-logo.svg" class="me-5" alt="logo"/></a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/frontend/static/templates/images/portworx-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="ti-view-list"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown me-1">
            <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-bs-toggle="dropdown">
              <i class="ti-email mx-0"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="messageDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="/frontend/static/templates/images/faces/face4.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">David Grey
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    The meeting is cancelled
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="/frontend/static/templates/images/faces/face2.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal">Dana Smith
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    New product launch
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                    <img src="/frontend/static/templates/images/faces/face3.jpg" alt="image" class="profile-pic">
                </div>
                <div class="item-content flex-grow">
                  <h6 class="ellipsis font-weight-normal"> Johnson
                  </h6>
                  <p class="font-weight-light small-text text-muted mb-0">
                    Upcoming board meeting
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
              <i class="ti-bell mx-0"></i>
              <span class="count"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-success">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Application Error</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Just now
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-warning">
                    <i class="ti-settings mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">Settings</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    Private message
                  </p>
                </div>
              </a>
              <a class="dropdown-item">
                <div class="item-thumbnail">
                  <div class="item-icon bg-info">
                    <i class="ti-user mx-0"></i>
                  </div>
                </div>
                <div class="item-content">
                  <h6 class="font-weight-normal">New user registration</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    2 days ago
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
              <img src="/frontend/static/templates/images/faces/face21.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item">
                <i class="ti-settings text-primary"></i>
                Settings
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="ti-view-list"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="../cluster">
              <i class="ti-server menu-icon"></i>
              <span class="menu-title">Cluster</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
              aria-controls="ui-basic">
              <i class="ti-panel menu-icon"></i>
              <span class="menu-title">Advanced</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="../create-volume">Create Volume</a></li>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../nodes">
              <i class="ti-linux menu-icon"></i>
              <span class="menu-title">Nodes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../volumes">
              <i class="ti-pie-chart menu-icon"></i>
              <span class="menu-title">Volumes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../snapshots">
              <i class="ti-save menu-icon"></i>
              <span class="menu-title">Snapshots</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../storage-pools">
              <i class="ti-harddrives menu-icon"></i>
              <span class="menu-title">Storage Pools</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../documentation/documentation">
              <i class="ti-write menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <p class="card-title">{{ $node.NodeName }}</p>
                  <div class="row">
                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Node Name:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{ $node.NodeName }}</h6>
                      </div>
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Node ID:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{ $node.NodeID }}</h6>
                      </div>
                      <div>
                        <p class="text-muted mb-2 mb-xl-0">This is the current information of your Portworx node.</p>
                      </div>
                    </div>
                    <div class="col-md-12 col-xl-9">
                      <div class="row">
                        <div class="col-md-6 mt-3 col-xl-5">
                          <canvas id="node-chart"></canvas>
                          <div id="node-legend"></div>
                        </div>
                        <div class="col-md-6 col-xl-7">
                          <div class="table-responsive mb-3 mb-md-0">
                            <table class="table table-borderless report-table">
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Node Status:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0" id="check-node-status" title="{{ $node.NodeStatus }}">
                                  </h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Node Average Load:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">{{ $node.NodeAvgLoad }} %</h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0"> Node Memory Used:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">{{ $node.NodeMemUsed }} GB</h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Node Memory Total:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">{{ $node.NodeMemTotal }} GB</h5>
                                </td>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Storage Pools of the Node:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">{{ $node.NumberOfPools }}</h5>
                                </td>
                              </tr>
                              {{ range $index, $pool := $node.StoragePools}}
                              <tr>
                                <td class="font-weight-light mb-0 w-50 px-0">Storage Pool {{$index}}:</td>
                                <td class="w-50 px-0">
                                  <h6 class="font-weight-normal mb-0">{{$pool.Uuid}}</h6>
                                </td>
                              </tr>
                              {{end}}
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <h4 class="card-title">Volumes on this Node</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Volume ID
                          </th>
                          <th>
                            Volume Name
                          </th>
                          <th>
                            K8s PVC Name
                          </th>
                          <th>
                            Replicas
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Attached On
                          </th>
                          <th>
                            Encrypted
                          </th>
                          <th>
                            Volume Usage
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {{$count := 0}}
                        {{ range $indexvol, $volume := .JsonReplicaPerNode.VolumeList }}
                        <tr>
                          <td>
                            <a href="../volume/{{ $indexvol }}">{{ $indexvol }} </a>
                          </td>
                          <td>
                            {{ $volume.VolumeName }}
                          </td>
                          <td>
                            {{ $volume.VolumeK8sPVCName }}
                          <td>
                            {{ $volume.VolumeReplicas }}
                          </td>
                          <td class="check-volume" id="{{$indexvol}}" title="{{ $volume.VolumeStatus }}">
                            <div id="check-volume-{{$count}}"> </div>
                          </td>
                          <td>
                            {{ $volume.VolumeAttachedOn }}
                          </td>
                          <td>
                            {{ $volume.VolumeEncrypted }}
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar"
                                style="width: {{ $volume.VolumeUsedPercent }}%" aria-valuenow="50" aria-valuemin="0"
                                aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        {{$count = add $count 1}}
                        {{ end }}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a
                href="https://www.purestorage.com" target="_blank">Pure Storage Inc. </a>2022</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Portworx by Pure Storage <a
                href="https://portworx.com" target="_blank"> Check our products! </a> </span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <script>
    var usagePercent = "{{.JsonNodeInfo.NodeInfo.PercentUsedPool}}";
    var availablePercent = "{{.JsonNodeInfo.NodeInfo.PercentAvailablePool}}";
    var usage = "{{.JsonNodeInfo.NodeInfo.UsedNodePool}}";
    var available = "{{.JsonNodeInfo.NodeInfo.FreeNodePool}}";
    var total = "{{.JsonNodeInfo.NodeInfo.SizeNodePool}}";
  </script>

<script >

  var element = document.getElementById("check-node-status");


    if(element.title == "STATUS_OK") {

      let btn = document.createElement("button");
      btn.innerHTML = "Node Up";
      btn.type = "button";
      btn.name = "formBtn";
      btn.classList = "btn btn-inverse-success btn-fw";
      element.appendChild(btn);

      console.log("Node Up");

    } else if (element.value == "STATUS_STORAGE_DOWN" || element.value == "STATUS_ERROR" || element.value == "STATUS_DECOMMISSION" || element.value == "STATUS_OFFLINE"  || element.value == "STATUS_NONE") {
      
      let btn = document.createElement("button");
      btn.innerHTML = "Node Down";
      btn.type = "button";
      btn.name = "formBtn";
      btn.classList = "btn btn-inverse-danger btn-fw";
      element.appendChild(btn);

      console.log("Node Down");

    } else {

      let btn = document.createElement("button");
      btn.innerHTML = "Node Warning";
      btn.type = "button";
      btn.name = "formBtn";
      btn.classList = "btn btn-inverse-warning btn-fw";
      element.appendChild(btn);

      console.log("Node Warning");

  }

</script>

<script >

  var elements = document.getElementsByClassName("check-volume");

  for (var i = 0; i < elements.length; i++) {

    if(elements.item(i).title == "VOLUME_STATUS_UP") {

      let btn = document.createElement("button");
      btn.innerHTML = "Volume Up";
      btn.type = "button";
      btn.name = "formBtn";
      btn.classList = "btn btn-inverse-success btn-fw";
      document.getElementById("check-volume-" + i).appendChild(btn);

      console.log("Volume Up");

    } else if (elements.item(i).value == "VOLUME_STATUS_DEGRADED"  ) {
      
      let btn = document.createElement("button");
      btn.innerHTML = "Volume Degraded";
      btn.type = "button";
      btn.name = "formBtn";
      btn.classList = "btn btn-inverse-warning btn-fw";
      document.getElementById("check-volume-" + i).appendChild(btn);

      console.log("Volume Degraded");

    } else {

      let btn = document.createElement("button");
      btn.innerHTML = "Volume Down";
      btn.type = "button";
      btn.name = "formBtn";
      btn.classList = "btn btn-inverse-danger btn-fw";
      document.getElementById("check-volume-" + i).appendChild(btn);

      console.log("Volume Down");

    } 
  }

</script>

  {{block "js" .}}
  <!-- plugins:js -->
  <script src="/frontend/static/templates/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="/frontend/static/templates/vendors/chart.js/Chart.min.js"></script>
  <script src="/frontend/static/templates/js/jquery.cookie.js" type="text/javascript"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/frontend/static/templates/js/off-canvas.js"></script>
  <script src="/frontend/static/templates/js/hoverable-collapse.js"></script>
  <script src="/frontend/static/templates/js/template.js"></script>
  <script src="/frontend/static/templates/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/frontend/static/templates/js/dashboard.js"> </script>
  <!-- End custom js for this page-->
</body>
{{end}}
{{end}}

</html>