{{template "thirdlevel" .}}

  {{ define "content" }}
    {{ $volume := .JsonVolumeInfo.VolumeInfo }}

    {{ $volumeReplicas := $volume.VolumeReplicas }}

    {{ $snapSpecific := .JsonSnapSpecific }}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card position-relative">
                <div class="card-body">
                  <p class="card-title">Spanshot Information of volume: {{ $snapSpecific.CloudSnap.SrcVolumeName }}</p>
                  <div class="row">
                    <h6 class="font-weight-light mb-xl-4">Origin Volume Name: </h6>
                    <h6 class="font-weight-light mb-xl-4">{{ $snapSpecific.CloudSnap.SrcVolumeName }}</h6>
                    <div class="col-md-12 col-xl-3 d-flex flex-column justify-content-center">
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Snapshot ID:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{ $snapSpecific.CloudSnap.Id }}</h6>                        
                      </div>
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Source Volume ID:</h6>
                        <h6 class="font-weight-light mb-xl-3"><a href="../../volume/{{ $snapSpecific.CloudSnap.SrcVolumeId }}">{{ $snapSpecific.CloudSnap.SrcVolumeId }}</a></h6>                        
                      </div>
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">CloudSnap Type:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{ $snapSpecific.CloudSnap.Metadata.cloudsnapType }}</h6>
                      </div>  
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Start Time:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{  $snapSpecific.CloudSnap.Metadata.starttime }}</h6>
                      </div>
                      <div class="ml-xl-4">
                        <h6 class="font-weight-light mb-xl-4">Update Time:</h6>
                        <h6 class="font-weight-light mb-xl-3">{{  $snapSpecific.CloudSnap.Metadata.updatetime }}</h6>
                      </div>
                    </div>
                    <div class="col-md-12 col-xl-9">
                      <div class="row">
                        <div class="col-md-6 mt-3 col-xl-5">
                          <canvas></canvas>
                          <div></div>
                        </div>
                        <div class="col-md-6 col-xl-7">
                          <div class="table-responsive mb-3 mb-md-0">
                            <table class="table table-borderless report-table">
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0" >Snapshot Status:</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0" id="check-snapshot-status" title="{{  $snapSpecific.CloudSnap.Metadata.status  }}"></h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0">Compressed Snapshot Size (Bytes)</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">
                                    <a href="#!" class="btn btn-info" >{{ $snapSpecific.CloudSnap.Metadata.compressedSizeBytes }}</a>
                                  </h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0"> Snapshot Size (Bytes)</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">
                                    <a href="#!" class="btn btn-info" >{{ $snapSpecific.CloudSnap.Metadata.sizeBytes }}</a>
                                  </h5>
                                </td>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0"> Parent CloudSnap ID (Incremental Snap)</td>
                                <td class="w-50 px-0">
                                  <h5 class="font-weight-normal mb-0">
                                    <a href="#!" class="btn btn-info"  >{{ $snapSpecific.CloudSnap.Metadata.parentCloudsnap }}</a>
                                  </h5>
                                </td>
                              </tr>
                              <tr>
                                <td class="font-weight-bold mb-0 w-50 px-0"></td>
                                <td class="w-50 px-0">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                                    <a href="#!" method="delete" class="btn btn-inverse-danger" onclick="deleteSnapshot({{ $snapSpecific.CloudSnap.Id }})" >Delete Snapshot</a>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  {{ end }}

  {{ define "js" }}

  <script>
  
    let attention = Prompt();

    var volMessage = "{{.Flash}}";

    var volError = "{{.Error}}";

    if (volError != "") {
      notify("error trying to create the snapshot", "error");

    }

    if (volMessage != "") {
        notify("snapshot created successfully","success")
    }


  </script>


  <script >

    var element = document.getElementById("check-snapshot-status");


      if (element.title == "Done") {
  
        let btn = document.createElement("button");
        btn.innerHTML = "Snapshot Done";
        btn.type = "button";
        btn.name = "formBtn";
        btn.classList = "btn btn-inverse-success btn-fw";
        element.appendChild(btn);
  
        console.log("Snapshot Done");
  
      } else if (element.title == "Queued" ) {
        
        let btn = document.createElement("button");
        btn.innerHTML = "Snapshot with Warnings";
        btn.type = "button";
        btn.name = "formBtn";
        btn.classList = "btn btn-inverse-warning btn-fw";
        element.appendChild(btn);
  
        console.log("Volume Degraded");
  
      } else {

        let btn = document.createElement("button");
        btn.innerHTML = "Snapshot with Issues";
        btn.type = "button";
        btn.name = "formBtn";
        btn.classList = "btn btn-inverse-danger btn-fw";
        element.appendChild(btn);

      }

  </script>

  <script> 
    function deleteSnapshot(snapid) {
      attention.custom({
              icon: 'warning',
              msg: 'Are you sure to delete this snapshot?',
              callback: function(result) {
                  if (result !== false) {
                      window.location.csrf_token = "{{.CSRFToken}}";
                      window.location.method = "delete";
                      window.location.href = "/portworx/client/delete-cloudsnap/" + snapid;
                  }
              },
          })
      }
  </script>


  {{ end }}
