{{template "base" .}}

  {{ define "css"}}

  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

  {{ end }}
  {{define "content"}}

      {{ $AllVolumesInfo := .JsonAllVolumesInfo.AllVolumesInfo }}

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Volumes</h4>
                  <div class="table-responsive">
                    <table class="table table-striped" id="volumes" style="width:100%">
                      <thead>
                        <tr>
                          <th>
                            Volume ID
                          </th>
                          <th>
                            Volume Name
                          </th>
                          <th>
                            K8s PVC Name
                          </th>
                          <th>
                            Replicas
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Attached On
                          </th>
                          <th>
                            Encrypted
                          </th> 
                          <th>
                            Volume Usage
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {{ range $index, $volume := $AllVolumesInfo }}
                        <tr>
                          <td>
                            <a href="volume/{{ $volume.VolumeID }}">{{ $volume.VolumeID }} </a>
                          </td>
                          <td>
                            {{ $volume.VolumeName }}
                          </td>
                          <td>
                            {{ $volume.VolumeK8sPVCName }}
                          <td>
                            {{ $volume.VolumeReplicas }}
                          </td>
                          <td class="check-volume" title="{{$volume.VolumeStatus}}">
                              <div id="check-volume-{{$index}}"> </div>
                          </td>
                          <td>
                            {{ $volume.VolumeAttachedOn }}
                          </td>
                          <td>
                            {{ $volume.VolumeEncrypted }}
                          </td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar bg-success" role="progressbar" style="width: {{ $volume.VolumeUsedPercent }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        {{ end }}
                       </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  {{end}}
  
  {{define "js"}}
  <script >

    var elements = document.getElementsByClassName("check-volume");

    for (var i = 0; i < elements.length; i++) {

      if(elements.item(i).title == "VOLUME_STATUS_UP") {

        let btn = document.createElement("button");
        btn.innerHTML = "Volume Up";
        btn.type = "button";
        btn.name = "formBtn";
        btn.classList = "btn btn-inverse-success btn-fw";
        document.getElementById("check-volume-" + i).appendChild(btn);

        console.log("Volume Up");

      } else if (elements.item(i).value == "VOLUME_STATUS_DEGRADED"  ) {
        
        let btn = document.createElement("button");
        btn.innerHTML = "Volume Degraded";
        btn.type = "button";
        btn.name = "formBtn";
        btn.classList = "btn btn-inverse-warning btn-fw";
        document.getElementById("check-volume-" + i).appendChild(btn);

        console.log("Volume Degraded");

      } else {

        let btn = document.createElement("button");
        btn.innerHTML = "Volume Down";
        btn.type = "button";
        btn.name = "formBtn";
        btn.classList = "btn btn-inverse-danger btn-fw";
        document.getElementById("check-volume-" + i).appendChild(btn);

        console.log("Volume Down");

      } 
    }
  </script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

  <script>
  
      $(document).ready(function() {
        $('#volumes').DataTable( {
            responsive: true,
            "pageLength": 10,
        } );
    } );
  </script>

  {{end}}
